{% extends "./header.html" %}

{% block content %}


	
	<div style="padding-left: 5%; padding-right: 5%">
	<table>
  <tbody>
    <tr>
		<td width = "50%"><h4>Hey {{user.first_name}}.</h4>
		<p>You currently have 3 personal projects visible to friends. Since you have been offline your friends <i>omcolebourne</i>, and <i>etang</i> have shared new projects.</p>
			
		<p>You are eligible to enter the <i>UK Under 11s CV Competition</i>. Submissions close in 8 days. Why not enter a project?</p>
			
		<p>We have just posted a new tutorial <i>Colour Magnet</i> based around Computer Visioin and Motor Control. We think it should take around 60 minutes.</p>
		
	</td>
      <td width=50%><div class="col" style="width: 100%; height: 100%">
		</div>    
	</td>
    </tr>
  </tbody>
</table>
		<br>
			
		<div style="display: flex; justify-content: space-between;">
			<a class="btn-small z-depth-0 modal-trigger"  style="border-radius: 20px; background-color: #552C86" href="#pairdevice">Pair Device</a>
			<a class="btn-small z-depth-0"  style="border-radius: 20px;  background-color: #552C86" href="">View Friends Code</a>
			<a class="btn-small z-depth-0"  style="border-radius: 20px;  background-color: #552C86" href="">Competitions</a>
			<a class="btn-small z-depth-0"  style="border-radius: 20px;  background-color: #552C86" href="">My Friends</a>
			<a class="btn-small z-depth-0"  style="border-radius: 20px;  background-color: #552C86" href="">Customise Device</a>
		</div>
		<br>
	</div>
	
<div style="background-color: #fafafa; width: 100%; padding-top: 4px">
	<div class="container">
   <br>
	<div class="row">
		<div class="col s12 m6">
			  <div class="card small z-depth-3" style="border-radius: 15px; background-color: #552C86; overflow: hidden">
				<div class="col">
				  <h4 class="white-text">Tutorials</h4>

				  <p class="white-text">Why not try one of our projects? Learn a bit about coding and see what your device is capable of! Maybe challenge a friend to see who can make theirs the best?</p>
				  </div>
			<div class="card-action">
				<a class="btn z-depth-0 white" style="border-radius: 20px; float: right; color: #552C86" href="">View All Tutorials</a>
			</div>
			  </div>
		  </div>
		
        {% for project in structuredprojects|slice:":3" %}
		
        <div class="col s12 m6">
            <a href={{ project.slug }} style="color: #000">
                <div class="card small z-depth-3" style="border-radius: 15px; overflow: hidden">
                  <div class="col" style="width: 50%">
                    <h4>{{ project.title }}.</h4>
                    <p>{{ project.description }}<p>
                  </div>
              
                  <div class="col" style="width: 50%; height: 100%; background-color: black;">
                  <p class="white-text">Video</p>
                  </div>
                </div>
                </a>
          </div>
		
        {% endfor %}
		
        </div>
        
	</div>
	
	<br>

	<div class='container'>
		

		<div class="row">
		  <div class="col s12 m4">
			  <div class="card small z-depth-3" style="border-radius: 15px; overflow: hidden; float: right;  background-color: #552C86">
				<div class="col">
				  <h4 class="white-text">Personal Projects</h4>

				  <p class="white-text">Get creative and make something amazing! When your done enter it into one of our competeitions for the chance to win amazing prizes.</p>
				  </div>
			<div class="card-action">
				<a class="btn z-depth-0 white modal-trigger" style="border-radius: 20px; color: #552C86" href="#newproject">New Project</a>
			</div>
			  </div>
		  </div>
			
			{% for project in personalprojects %}
			<div class="col s12 m4">
					<div class="card small z-depth-3" style="border-radius: 15px; overflow: hidden">
					  <div class="col">
						<h4>{{ project.title }}</h4>
						<p>{{ project.description }}<p>
					  </div>
					  <div class="card-action">
						<form action="project" method="POST">
							{% csrf_token %}
							<button class="btn z-depth-0" style="border-radius: 20px; float: right;  background-color: #552C86" type="submit" name="project-id" value={{ project.id }}>Edit Project</button>
						</form>
					  </div>
					</div>
			  </div>
			{% endfor %}
			</div>
			
		</div>

	</div>
		
	</div>

</div>

  <!-- New project modal -->
  <div id="newproject" class="modal">
    <div class="modal-content">
		<form method="POST" >

			{% csrf_token %}

			{{form}}
			<br>
			<br>
			<button class="btn z-depth-0" style="border-radius: 20px;  background-color: #552C86" type="submit" name="action">Create Project</button>

		</form>
    </div>
  </div>
	

<!-- Pair Device modal -->
  <div id="pairdevice" class="modal">
    <div class="modal-content">
		<h4>{{ user.first_name }}, your unique pair ID is <b>{{ user.id }}</b>. Follow the instructions to pair a new device to your account.</h4>
		<br>
			<div class="row">
				<div class="col s12 m6">
					<ol>
					<h5><li>Power on device.</li></h5>
					<h5><li>Press "re-pair device" located in the top left courner.</li></h5>
					<h5><li>Point device at the QR Code.</li></h5>
					<h5><li>Confirm details and continue.</li></h5>
					</ol>
				</div>
				<div class="col s12 m6" style="text-align: center; display: block;">
				
					{% load static %}
				<img width="100%" src="{% static "QR.png" %}" alt="My image" style="max-width: 220px"> 
				
				</div>
			</div>
		
		<br>
		<p>QR scan failed? Press pair maually and input your unique pair id. <b>Don't share your pair id with anyone.</b></p>
    </div>
  </div>

{% endblock %}