<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
      $('.modal').modal();
    });
</script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.collapsible');
		var instances = M.Collapsible.init(elems, options);
	  });
	
	  // Or with jQuery
	
	  $(document).ready(function(){
		$('.collapsible').collapsible();
	  });
</script>
<style>
	.collapsible-row {
		flex: auto;
		display: block;
	}
</style>
</head>



	
<body>
	
	{% include "main/includes/navbar.html" %}
	{% include "main/includes/messages.html" %}

	{% block content %}
	{% endblock %}

</body>
</html>