	<nav class="z-depth-3" style = "background-color: #552C86">
		<div style="padding-left: 5%; padding-right: 5%">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo left">Nova Platform</a>
			<ul id="nav-moblie" class="right hide-on-small-and-down">
				{% if user.is_authenticated %}
                <li><a class="active" href="/account/">{{user.username}}</a></li>
				<li><a class="active"href="/logout/">Logout</a></li>
				{% else %}
                <li><a class="active" href="/register/">Register</a></li>
				<li><a class="active"href="/login/">Login</a></li>
				{% endif %}
			</ul>
		</div>
		</div>
	</nav>